.new-link-form {
  margin: auto;
  width: 60%;
  border: 3px solid #2e3b1b;
  padding: 10px;
  margin-top: 40px;
}

.links-table {
  padding: 30px;
  margin-top: 40px;
}

.user-login-status-text {
  margin-right: 15px;
}

.app {
  margin: auto;
  width: 60%;
}
